.cms {
  .trigger {
    border: black solid 1px;
    border-radius: 10%;
    box-shadow: 2px 2px 1px #888;
    color: #000;
    padding: 2px;
  }
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  transition: opacity 200ms ease-out;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #999);
  }
}