div
    div(class="section group")
        div(class="col span_3_of_3")
            div(class="fs-control fs-control-top fs-control-outside")
                i(class="fa fa-caret-up fa-3x", data-fs-action="up")
    div(class="section group")
        div(class="col span_1_of_3")
            div(class="fs-control fs-control-middle fs-control-left fs-control-outside")
                i(class="fa fa-caret-left fa-3x", data-fs-action="left")
        div(class="col span_1_of_3")
            div(class="fs-control-center")
                div(class="section group")
                    div(class="col span_1_of_2")
                        div(class="fs-control fs-control-inside")
                            i(class="fa fa-plus-square fa-4x", data-fs-action="addSibling")
                    div(class="col span_1_of_2")
                        div(class="fs-control fs-control-inside")
                            i(class="fa fa-pencil fa-4x", data-fs-action="edit")
                div(class="section group")
                    div(class="col span_1_of_2")
                        div(class="fs-control fs-control-inside")
                            i(class="fa fa-plus-circle fa-4x", data-fs-action="addChild")
                    div(class="col span_1_of_2")
                        div(class="fs-control fs-control-inside")
                            i(class="fa fa-minus-circle fa-4x", data-fs-action="del")
        div(class="col span_1_of_3")
            div(class="fs-control fs-control-middle fs-control-right fs-control-outside")
                i(class="fa fa-caret-right fa-3x", data-fs-action="right")
    div(class="section group")
        div(class="col span_3_of_3")
            div(class="fs-control fs-control-bottom fs-control-outside")
                i(class="fa fa-caret-down fa-3x", data-fs-action="down")