div(class="cms trigger")
    a(class="cms trigger", href="#contentEditor", data-fs-cms-trigger="'caption'")
        i(class="fa fa-pencil fa-lg")
    div(id="contentEditor", class="modalDialog")
        div
            a(href="#close", title="Close", class="close") X
            h2 Na Du?
            p Mach mich glücklich!