doctype html
html(data-ng-app='app')
    head
        title= title
        link(rel='stylesheet', href='/css/cms/cms.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
    body
        fs-header
        script(src='js/app.js')