doctype html
html(data-ng-app='app')
    head
        title= title
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto&subset=latin-ext', type='text/css')
        link(rel='stylesheet', href='/css/app.css')
    body
        fs-header
        fs-content-editor
        script(src='js/app.js')