$cms-color-primary-0: #395F62;
$cms-color-primary-1: #FFFFFF;
$cms-color-primary-2: #728F92;
$cms-color-primary-3: #163A3D;
$cms-color-primary-4: #000D0E;

$cms-color-secondary-1-0: #844B69;
$cms-color-secondary-1-1: #FFFFFF;
$cms-color-secondary-1-2: #C498AF;
$cms-color-secondary-1-3: #521D39;
$cms-color-secondary-1-4: #13000A;

$cms-color-secondary-2-0: #A1975C;
$cms-color-secondary-2-1: #FFFFFF;
$cms-color-secondary-2-2: #F0E7BA;
$cms-color-secondary-2-3: #655B24;
$cms-color-secondary-2-4: #181400;

